@import "tailwindcss";


:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  background: #e4d7c9;
}

@theme {
  --color-brand-primary: #6B7A67;
  --color-brand-secondary: #97A194;

}
